@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    font-family: "poppins",sans-serif;

   

   
}
body{
    background-color: honeydew;
}
header{
    position: relative;
    background-color: goldenrod;
     padding:2rem;
      display: flex;
    justify-content: space-between;
   align-items: center; 
  
}

.cart{
    position: absolute;
    right: 2rem;
    background-color: #eee;
    width:7rem;
    height: 4rem;
    display: flex ;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}


.cart ion-icon{
    font-size: 2.5rem;
    color: goldenrod;
}

.cart span{
    background-color: goldenrod;
    color: #eee;
    font-weight: 600;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    display: block;
}
.contenido-carrito{
    background-color: #eee;
    max-height: 35rem;
    width: 37%;
    text-align: center;
    position: absolute;
    right: 1.5rem;
    top: 7rem;
    padding: .5rem 2rem;
    transition:  3s ease-in-out;
    overflow: unset;
    display: none;

}
.encavezado-carrito {
    width: 100%;
    border-radius: 10px;
    color: #fff;
    background-color: goldenrod;
    padding: .5rem;
    display: flex;
    justify-content: space-evenly;
}

.encavezado-carrito h2{
    font-size: 1rem;
}
.encavezado-carrito #cerrar{
    background-color: #eee;
    width: 30px;
    color: #000;
    font-weight: bolder;

    cursor: pointer;
 
}

.encavezado-carrito #cerrar:hover{
    background-color: goldenrod;
    color: #eee;
}.contenedor-carrito{
    margin-top: 1rem;
}

.producto-carrito{
    max-width:100%;
    display: flex;
    gap: 1rem;
    background-color: #FFF;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 1rem 2rem;
}


.producto-carrito img{
    max-width: 4rem;
    border: 1px solid goldenrod;
    border-radius: 50%;
}
.contenido-cart{
    display: inline-block;
    width: 60%;

    align-items: center;
    justify-content: space-between;

    

}
.contenido-cart h5,
.contenido-cart .cantidad{
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
}

.contenido-cart .precio{
 
    font-weight: 600;
    color: red;
    font-size: 1.5rem;
}
#btn-cerrar{

    padding:   .5rem 2rem;
    color: goldenrod;
    font-size: 2rem;
    cursor: pointer;
}

#precio{
    width: 100%;
    margin-top: 1rem;
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    color: #000;
    font-weight: 600;
    text-transform: capitalize;
}
#precio span{
    color: red;
}



/* seccion productos */
.produdct{
    width: 20.5rem;
    height: 30rem;
    border: 1px solid goldenrod;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.produdct img{
    max-width: 15rem;
}

.titulo-producto{
    font-weight: 600;
    text-transform: capitalize;
    font-size: 1.2rem;
}

.precio-producto{
    color: red;
    font-weight: bolder;
    font-size: 1.5rem;
}
#btn-agregar{

    background-color: goldenrod;
    margin: 1rem;
    padding: .5rem;
    border-radius: 1rem;
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
    cursor: pointer;
}
.section-product{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap;
}
section{
    height: 100vh;

    padding-top: 5rem;
    display: flex;

    flex-direction: column;
}
